<app-button
  (clickEvent)="toggleFilter()"
  [type]="Button.Toggle"
  [text]="'סטטוס בקשה'"></app-button>

<div
  class="filter-container"
  [hidden]="(isOpen$ | async) === false"
  appClickOutside
  (clickOutside)="toggleFilter()">
  <ul cdkListbox aria-labelledby="filter-list" class="categories">
    @for (category of categories; track category) {
      <li
        (click)="selectCategory(category)"
        [cdkOption]="category"
        class="categories__item">
        {{ category }}
      </li>
    }
  </ul>
  <mat-divider></mat-divider>
  <div class="filter-actions">
    <app-button
      [type]="activeCategory ? Button.Primary : Button.Disabled"
      [hasIcon]="false"
      [text]="'הצגת בקשות'"
      (clickEvent)="addFilter()"></app-button>
    <app-button
      [hidden]="!activeCategory"
      [type]="Button.Secondary"
      [hasIcon]="false"
      [text]="'ניקוי בחירה'"
      (clickEvent)="reset()"></app-button>
  </div>
</div>
