@import 'assets/styles/variables';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font !important;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
}

svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}
